@import '../variables';

.gnome-container {
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
	height: 200px;
  padding: 0;
  
	.whiteBar-text {
    width: 100%;
    text-align: center;
		position: absolute;
		z-index: 1000;
		color: $textColor;
    padding: 1em 0 1em 7em;
    margin: 9.3em 0 0 0;
    background-color: rgba(0,0,0,.5);
    font-size: 1em;
	}
}