@import "../variables";
@import "./gnomeContainer";

header {
  width: 100%;
  background: rgba(41, 35, 35, 0.89);
  @include flexCenter(column);
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 2px;

  .searching-field {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    outline: none;
  }

  h1 {
    color: rgb(201, 189, 189);
  }
}
