@import "../variables";
@import "./gnomeContainer";

header {
	width: 100%;
	background: rgb(63, 114, 136);
	@include flexCenter(row);
	align-items: center;
	padding-bottom: 20px;
	margin-bottom: 2px;

	h1 {
		color: $textColor;
	}
}
