@import "../variables";

.gnome-img {
  height: 200px;
  width: 100%;
}

.gnome-info {
  width: 100%;
  @include flexCenter(row);
  opacity: 0.5;
  margin:0;
  padding: 0;
  position: inline-box;
  
  h3 {
    font-size: 12px;
  }
  
  p {
    font-size: 10px;
  }

  .age-box {
    margin-left: 10px;
  }
  
  .age-box, .professions-box, .friends-box {
    width: 150px;
    height: 171px;
    display: inline-flexbox;
    // text-align: center;
    margin-right: 0;

  }
  
}
